.sid{
  position: fixed;
  top: 0;
  left: 0;
  background-color: aqua;
  width: 200px;
  height: 100vh;
}

.sid-menu{
  margin-top: 30px;
}

.product-item{
  height: 0;
  overflow: hidden;
}

.product-item.is-open{
  height: 100px;
  transition: all 400ms ease-in-out;
}






.overlay{
  height: 2000px;
}