.box{
  display: flex;

  justify-content: space-between;
  background-color: dodgerblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}

.box-wrapper {
  display: none;
}

.pictu > img {
  transition: all 800ms ease-in-out;
}